In [1]:
import pandas as pd
import numpy as np

In [3]:
NPKPrediction=pd.read_csv("../../../../../preprocessedData/NPKPrediction.csv")
NPKPrediction

      Unnamed: 0    N   P   K  temperature   humidity    rainfall  label
0              0   90  42  43    20.879744  82.002744  202.935536     11
1              1   85  58  41    21.770462  80.319644  226.655537     11
2              2   60  55  44    23.004459  82.320763  263.964248     11
3              3   74  35  40    26.491096  80.158363  242.864034     11
4              4   78  42  42    20.130175  81.604873  262.717340     11
...          ...  ...  ..  ..          ...        ...         ...    ...
1180        1180  107  34  32    26.774637  66.413269  177.774507      3
1181        1181   99  15  27    27.417112  56.636362  127.924610      3
1182        1182  118  33  30    24.131797  67.225123  173.322839      3
1183        1183  117  32  34    26.272418  52.127394  127.175293      3
1184        1184  104  18  30    23.603016  60.396475  140.937041      3

[1185 rows x 8 columns]

In [4]:
NPKPrediction=NPKPrediction.drop(columns=["Unnamed: 0"])
NPKPrediction

        N   P   K  temperature   humidity    rainfall  label
0      90  42  43    20.879744  82.002744  202.935536     11
1      85  58  41    21.770462  80.319644  226.655537     11
2      60  55  44    23.004459  82.320763  263.964248     11
3      74  35  40    26.491096  80.158363  242.864034     11
4      78  42  42    20.130175  81.604873  262.717340     11
...   ...  ..  ..          ...        ...         ...    ...
1180  107  34  32    26.774637  66.413269  177.774507      3
1181   99  15  27    27.417112  56.636362  127.924610      3
1182  118  33  30    24.131797  67.225123  173.322839      3
1183  117  32  34    26.272418  52.127394  127.175293      3
1184  104  18  30    23.603016  60.396475  140.937041      3

[1185 rows x 7 columns]

In [6]:
from sklearn.model_selection import train_test_split
X=NPKPrediction.drop(columns=["label"])
y=NPKPrediction["label"]
X

        N   P   K  temperature   humidity    rainfall
0      90  42  43    20.879744  82.002744  202.935536
1      85  58  41    21.770462  80.319644  226.655537
2      60  55  44    23.004459  82.320763  263.964248
3      74  35  40    26.491096  80.158363  242.864034
4      78  42  42    20.130175  81.604873  262.717340
...   ...  ..  ..          ...        ...         ...
1180  107  34  32    26.774637  66.413269  177.774507
1181   99  15  27    27.417112  56.636362  127.924610
1182  118  33  30    24.131797  67.225123  173.322839
1183  117  32  34    26.272418  52.127394  127.175293
1184  104  18  30    23.603016  60.396475  140.937041

[1185 rows x 6 columns]

In [7]:
y

0       11
1       11
2       11
3       11
4       11
        ..
1180     3
1181     3
1182     3
1183     3
1184     3
Name: label, Length: 1185, dtype: int64

In [8]:
X_Train,X_Test,y_Train,y_Test=train_test_split(X,y,test_size=0.1,random_state=2)

In [9]:
from sklearn.ensemble import GradientBoostingRegressor
model=GradientBoostingRegressor()

In [10]:
model.fit(X_Train,y_Train)

GradientBoostingRegressor()

In [12]:
prediction=model.predict(X_Test)

In [13]:
prediction

array([ 7.655962  ,  9.14420478,  7.87066383,  5.99925213,  9.00692976,
       10.95801612,  3.53595928, 10.39018471,  6.05720077,  8.86695409,
        7.65452719,  0.09787795,  1.21007203,  9.41225845,  1.03349109,
        2.47829574,  6.97677773,  7.84478405,  9.07669982,  4.53197429,
        0.07864694,  5.32179715,  8.96125011, 10.65528966,  3.05829195,
        8.0077948 ,  0.33051196,  6.08835553,  1.11823964,  7.30708144,
        2.12956306, 10.6692772 ,  0.03806138,  9.04602544,  3.5387346 ,
        8.6107677 , 10.45982857,  5.42793224,  8.79347822,  6.44919409,
        6.18236965,  5.28990284,  2.53765089,  2.71963576,  6.01085102,
        7.96373291,  6.15779576,  7.78609509, 10.10663843,  3.68122731,
        8.64228556,  1.12552649,  1.4804584 ,  7.96373291,  5.29449512,
        8.42260484,  7.78609509,  5.96380962,  0.10700334,  5.26639111,
        2.91369811,  1.61361767,  5.98509679, 10.65762633,  0.95782605,
        5.95973751,  0.08012437, 10.9790681 ,  3.0962351 ,  6.95344067,
        9.73936777,  1.12552649,  8.48018225,  4.03534262,  5.23942216,
        4.51177782,  6.07757084,  8.39043542,  8.00223172, 10.13201514,
        7.96373291, 10.23537877,  8.9761897 ,  2.28991253,  4.02266398,
        9.76276057,  8.88391129, 10.45601967, 11.15594461,  7.69302601,
        8.70719886,  5.95449484,  7.62816583,  2.75210812,  5.38474855,
        1.17720685,  6.72398453,  0.98055841,  2.61698153,  5.3087136 ,
        9.11268692,  6.4072292 ,  4.62271703,  5.61681823,  4.27933941,
        6.39712704,  9.17058217,  5.90486316, 10.97381301, 10.3914508 ,
       10.51729533,  1.1115033 , 11.19753653,  1.03349109,  5.61753081,
        8.00223172,  2.43985209,  7.78609509,  6.36797167])

In [14]:
y_Test

1041    5
862     9
511     8
327     6
842     9
       ..
998     5
508     8
263     2
525     8
182     7
Name: label, Length: 119, dtype: int64