In [17]:
import pandas as pd
import numpy as np

In [18]:
cropRecommendationA1=pd.read_csv("../../../../../preprocessedData/CropRecommentationApproach1.csv")
cropRecommendationA1

      Unnamed: 0  temperature   humidity    rainfall   label
0              0    20.879744  82.002744  202.935536    rice
1              1    21.770462  80.319644  226.655537    rice
2              2    23.004459  82.320763  263.964248    rice
3              3    26.491096  80.158363  242.864034    rice
4              4    20.130175  81.604873  262.717340    rice
...          ...          ...        ...         ...     ...
1195        1195    26.774637  66.413269  177.774507  coffee
1196        1196    27.417112  56.636362  127.924610  coffee
1197        1197    24.131797  67.225123  173.322839  coffee
1198        1198    26.272418  52.127394  127.175293  coffee
1199        1199    23.603016  60.396475  140.937041  coffee

[1200 rows x 5 columns]

In [19]:
cropRecommendationA1=cropRecommendationA1.drop(columns=["Unnamed: 0"])
cropRecommendationA1

      temperature   humidity    rainfall   label
0       20.879744  82.002744  202.935536    rice
1       21.770462  80.319644  226.655537    rice
2       23.004459  82.320763  263.964248    rice
3       26.491096  80.158363  242.864034    rice
4       20.130175  81.604873  262.717340    rice
...           ...        ...         ...     ...
1195    26.774637  66.413269  177.774507  coffee
1196    27.417112  56.636362  127.924610  coffee
1197    24.131797  67.225123  173.322839  coffee
1198    26.272418  52.127394  127.175293  coffee
1199    23.603016  60.396475  140.937041  coffee

[1200 rows x 4 columns]

In [20]:
from sklearn.model_selection import train_test_split
X=cropRecommendationA1.drop(columns=["label"])
y=cropRecommendationA1["label"]

In [21]:
X

      temperature   humidity    rainfall
0       20.879744  82.002744  202.935536
1       21.770462  80.319644  226.655537
2       23.004459  82.320763  263.964248
3       26.491096  80.158363  242.864034
4       20.130175  81.604873  262.717340
...           ...        ...         ...
1195    26.774637  66.413269  177.774507
1196    27.417112  56.636362  127.924610
1197    24.131797  67.225123  173.322839
1198    26.272418  52.127394  127.175293
1199    23.603016  60.396475  140.937041

[1200 rows x 3 columns]

In [22]:
y

0         rice
1         rice
2         rice
3         rice
4         rice
         ...
1195    coffee
1196    coffee
1197    coffee
1198    coffee
1199    coffee
Name: label, Length: 1200, dtype: object

In [23]:
X_Train,X_Test,y_Train,y_Test=train_test_split(X,y,test_size=0.1,random_state=2)
X_Test

      temperature   humidity    rainfall
1049    26.389054  83.312403  176.151641
476     25.083474  80.261731   94.329615
61      25.755286  83.518271  245.662680
910     42.134740  91.704454  197.402901
68      23.641248  80.285979  263.110330
...           ...        ...         ...
869     25.354676  91.811832  116.755594
835     20.184323  90.654585  116.813097
137     21.541562  59.640242  109.751538
101     26.100184  71.574769  102.266244
272     28.206673  68.270852   64.328871

[120 rows x 3 columns]

In [24]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

In [25]:
model=DecisionTreeClassifier(criterion="entropy")
model.fit(X_Train,y_Train)
predicted_val=model.predict(X_Test)

In [26]:
predicted_val

array(['jute', 'banana', 'rice', 'papaya', 'rice', 'coffee', 'grapes',
       'jute', 'apple', 'papaya', 'maize', 'blackgram', 'orange',
       'papaya', 'apple', 'blackgram', 'blackgram', 'papaya', 'apple',
       'lentil', 'coffee', 'banana', 'grapes', 'papaya', 'maize', 'jute',
       'banana', 'lentil', 'blackgram', 'rice', 'orange', 'apple',
       'coffee', 'mango', 'grapes', 'jute', 'banana', 'coffee', 'papaya',
       'mango', 'papaya', 'lentil', 'grapes', 'lentil', 'jute', 'grapes',
       'orange', 'banana', 'lentil', 'banana', 'lentil', 'orange', 'jute',
       'grapes', 'blackgram', 'lentil', 'apple', 'maize', 'banana',
       'jute', 'orange', 'banana', 'jute', 'blackgram', 'coffee', 'jute',
       'mango', 'orange', 'banana', 'papaya', 'lentil', 'mango', 'mango',
       'jute', 'banana', 'banana', 'rice', 'mango', 'papaya', 'lentil',
       'apple', 'papaya', 'coffee', 'rice', 'rice', 'mango', 'orange',
       'papaya', 'grapes', 'jute', 'mango', 'lentil', 'papaya', 'mango',
       'rice', 'coffee', 'blackgram', 'orange', 'jute', 'mango', 'mango',
       'apple', 'papaya', 'blackgram', 'grapes', 'lentil', 'rice', 'rice',
       'maize', 'maize', 'lentil', 'blackgram', 'blackgram', 'papaya',
       'blackgram', 'orange', 'orange', 'maize', 'maize', 'blackgram'],
      dtype=object)

In [27]:
list(y_Test)

['jute',
 'banana',
 'rice',
 'papaya',
 'rice',
 'coffee',
 'grapes',
 'jute',
 'apple',
 'papaya',
 'maize',
 'blackgram',
 'orange',
 'papaya',
 'apple',
 'blackgram',
 'blackgram',
 'papaya',
 'apple',
 'lentil',
 'coffee',
 'banana',
 'grapes',
 'papaya',
 'maize',
 'rice',
 'banana',
 'lentil',
 'blackgram',
 'rice',
 'orange',
 'apple',
 'coffee',
 'mango',
 'grapes',
 'jute',
 'banana',
 'coffee',
 'papaya',
 'mango',
 'papaya',
 'lentil',
 'grapes',
 'lentil',
 'jute',
 'grapes',
 'papaya',
 'banana',
 'lentil',
 'banana',
 'lentil',
 'orange',
 'jute',
 'grapes',
 'blackgram',
 'lentil',
 'apple',
 'maize',
 'banana',
 'jute',
 'orange',
 'banana',
 'jute',
 'blackgram',
 'coffee',
 'jute',
 'mango',
 'apple',
 'banana',
 'papaya',
 'lentil',
 'mango',
 'mango',
 'jute',
 'banana',
 'banana',
 'rice',
 'mango',
 'papaya',
 'lentil',
 'orange',
 'papaya',
 'coffee',
 'rice',
 'rice',
 'mango',
 'orange',
 'papaya',
 'grapes',
 'rice',
 'mango',
 'lentil',
 'papaya',
 'mango',
 'rice',
 'coffee',
 'blackgram',
 'orange',
 'jute',
 'mango',
 'mango',
 'apple',
 'papaya',
 'blackgram',
 'grapes',
 'lentil',
 'rice',
 'rice',
 'maize',
 'maize',
 'lentil',
 'blackgram',
 'blackgram',
 'papaya',
 'blackgram',
 'orange',
 'orange',
 'maize',
 'maize',
 'blackgram']

In [28]:
accuracy_score(predicted_val,y_Test)

0.9583333333333334

In [29]:
input_dataframe=pd.DataFrame(np.array([[23,82,263]]),columns=["temparature","humidity","rainfall"])
input_dataframe

   temparature  humidity  rainfall
0           23        82       263

In [30]:
model.predict(input_dataframe)

array(['rice'], dtype=object)

In [31]:
from sklearn.metrics import classification_report
print(classification_report(y_Test,predicted_val))

              precision    recall  f1-score   support

       apple       0.86      0.86      0.86         7
      banana       1.00      1.00      1.00        11
   blackgram       1.00      1.00      1.00        12
      coffee       1.00      1.00      1.00         7
      grapes       1.00      1.00      1.00         8
        jute       0.83      1.00      0.91        10
      lentil       1.00      1.00      1.00        12
       maize       1.00      1.00      1.00         7
       mango       1.00      1.00      1.00        11
      orange       0.80      0.89      0.84         9
      papaya       1.00      0.93      0.97        15
        rice       1.00      0.82      0.90        11

    accuracy                           0.96       120
   macro avg       0.96      0.96      0.96       120
weighted avg       0.96      0.96      0.96       120