In [29]:
import pandas as pd
import numpy as np

In [30]:
cropRecommendationA1=pd.read_csv("../../../../../preprocessedData/CropRecommentationApproach1.csv")
cropRecommendationA1

      Unnamed: 0  temperature   humidity    rainfall   label
0              0    20.879744  82.002744  202.935536    rice
1              1    21.770462  80.319644  226.655537    rice
2              2    23.004459  82.320763  263.964248    rice
3              3    26.491096  80.158363  242.864034    rice
4              4    20.130175  81.604873  262.717340    rice
...          ...          ...        ...         ...     ...
1195        1195    26.774637  66.413269  177.774507  coffee
1196        1196    27.417112  56.636362  127.924610  coffee
1197        1197    24.131797  67.225123  173.322839  coffee
1198        1198    26.272418  52.127394  127.175293  coffee
1199        1199    23.603016  60.396475  140.937041  coffee

[1200 rows x 5 columns]

In [31]:
cropRecommendationA1=cropRecommendationA1.drop(columns=["Unnamed: 0"])
cropRecommendationA1

      temperature   humidity    rainfall   label
0       20.879744  82.002744  202.935536    rice
1       21.770462  80.319644  226.655537    rice
2       23.004459  82.320763  263.964248    rice
3       26.491096  80.158363  242.864034    rice
4       20.130175  81.604873  262.717340    rice
...           ...        ...         ...     ...
1195    26.774637  66.413269  177.774507  coffee
1196    27.417112  56.636362  127.924610  coffee
1197    24.131797  67.225123  173.322839  coffee
1198    26.272418  52.127394  127.175293  coffee
1199    23.603016  60.396475  140.937041  coffee

[1200 rows x 4 columns]

In [32]:
from sklearn.model_selection import train_test_split
X=cropRecommendationA1.drop(columns=["label"])
y=cropRecommendationA1["label"]

In [33]:
X

      temperature   humidity    rainfall
0       20.879744  82.002744  202.935536
1       21.770462  80.319644  226.655537
2       23.004459  82.320763  263.964248
3       26.491096  80.158363  242.864034
4       20.130175  81.604873  262.717340
...           ...        ...         ...
1195    26.774637  66.413269  177.774507
1196    27.417112  56.636362  127.924610
1197    24.131797  67.225123  173.322839
1198    26.272418  52.127394  127.175293
1199    23.603016  60.396475  140.937041

[1200 rows x 3 columns]

In [34]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
X=scaler.fit_transform(X)
X

array([[-0.9172917 ,  0.46929425,  1.5298087 ],
       [-0.75930247,  0.34921994,  1.95128013],
       [-0.54042477,  0.49198208,  2.61420401],
       ...,
       [-0.34046561, -0.58495835,  1.00363226],
       [ 0.03922261, -1.66204785,  0.18365457],
       [-0.43425706, -1.07212206,  0.4281817 ]])

In [35]:
y

0         rice
1         rice
2         rice
3         rice
4         rice
         ...
1195    coffee
1196    coffee
1197    coffee
1198    coffee
1199    coffee
Name: label, Length: 1200, dtype: object

In [36]:
X_Train,X_Test,y_Train,y_Test=train_test_split(X,y,test_size=0.1,random_state=8)

In [37]:
from sklearn import svm
model=svm.SVC(kernel="linear")
model.fit(X_Train,y_Train)

SVC(kernel='linear')

In [38]:
predict_val=model.predict(X_Test)

In [39]:
predict_val

array(['apple', 'grapes', 'blackgram', 'lentil', 'mango', 'mango', 'rice',
       'lentil', 'grapes', 'coffee', 'rice', 'apple', 'orange', 'lentil',
       'coffee', 'apple', 'grapes', 'maize', 'apple', 'coffee', 'maize',
       'maize', 'blackgram', 'maize', 'coffee', 'rice', 'rice', 'mango',
       'rice', 'lentil', 'rice', 'coffee', 'jute', 'blackgram', 'apple',
       'coffee', 'maize', 'maize', 'mango', 'jute', 'maize', 'blackgram',
       'banana', 'jute', 'jute', 'apple', 'papaya', 'coffee', 'banana',
       'maize', 'jute', 'mango', 'banana', 'rice', 'coffee', 'coffee',
       'rice', 'rice', 'jute', 'jute', 'maize', 'mango', 'mango',
       'coffee', 'papaya', 'blackgram', 'lentil', 'lentil', 'mango',
       'blackgram', 'blackgram', 'apple', 'grapes', 'maize', 'grapes',
       'maize', 'banana', 'blackgram', 'jute', 'jute', 'grapes', 'jute',
       'mango', 'grapes', 'grapes', 'maize', 'grapes', 'coffee', 'papaya',
       'maize', 'banana', 'coffee', 'lentil', 'apple', 'maize', 'papaya',
       'papaya', 'rice', 'jute', 'blackgram', 'jute', 'grapes',
       'blackgram', 'maize', 'maize', 'apple', 'banana', 'mango', 'maize',
       'mango', 'grapes', 'banana', 'jute', 'orange', 'mango', 'jute',
       'apple', 'mango', 'banana', 'apple'], dtype=object)

In [40]:
list(y_Test)

['orange',
 'grapes',
 'blackgram',
 'lentil',
 'mango',
 'mango',
 'rice',
 'lentil',
 'grapes',
 'coffee',
 'rice',
 'orange',
 'orange',
 'lentil',
 'coffee',
 'orange',
 'grapes',
 'maize',
 'apple',
 'coffee',
 'maize',
 'maize',
 'blackgram',
 'maize',
 'coffee',
 'rice',
 'rice',
 'mango',
 'rice',
 'lentil',
 'rice',
 'coffee',
 'jute',
 'blackgram',
 'apple',
 'coffee',
 'coffee',
 'blackgram',
 'mango',
 'jute',
 'maize',
 'blackgram',
 'banana',
 'jute',
 'jute',
 'orange',
 'papaya',
 'coffee',
 'banana',
 'maize',
 'jute',
 'mango',
 'banana',
 'rice',
 'coffee',
 'coffee',
 'rice',
 'rice',
 'rice',
 'jute',
 'maize',
 'mango',
 'mango',
 'coffee',
 'papaya',
 'blackgram',
 'lentil',
 'lentil',
 'mango',
 'blackgram',
 'blackgram',
 'orange',
 'grapes',
 'maize',
 'grapes',
 'maize',
 'banana',
 'blackgram',
 'jute',
 'jute',
 'grapes',
 'jute',
 'mango',
 'grapes',
 'papaya',
 'maize',
 'grapes',
 'coffee',
 'papaya',
 'maize',
 'banana',
 'coffee',
 'lentil',
 'orange',
 'maize',
 'papaya',
 'papaya',
 'rice',
 'jute',
 'blackgram',
 'jute',
 'grapes',
 'blackgram',
 'coffee',
 'maize',
 'apple',
 'banana',
 'mango',
 'maize',
 'mango',
 'grapes',
 'banana',
 'papaya',
 'apple',
 'mango',
 'jute',
 'orange',
 'mango',
 'banana',
 'apple']

In [41]:
from sklearn.metrics import classification_report,accuracy_score
accuracy_score(predict_val,y_Test)

0.8833333333333333

In [42]:
print(classification_report(predict_val,y_Test))

              precision    recall  f1-score   support

       apple       0.80      0.36      0.50        11
      banana       1.00      1.00      1.00         8
   blackgram       0.91      1.00      0.95        10
      coffee       0.86      1.00      0.92        12
      grapes       1.00      0.91      0.95        11
        jute       1.00      0.86      0.92        14
      lentil       1.00      1.00      1.00         7
       maize       1.00      0.82      0.90        17
       mango       1.00      1.00      1.00        13
      orange       0.12      0.50      0.20         2
      papaya       0.71      1.00      0.83         5
        rice       0.91      1.00      0.95        10

    accuracy                           0.88       120
   macro avg       0.86      0.87      0.84       120
weighted avg       0.93      0.88      0.89       120