In [1]:
import pandas as pd
import numpy as np

In [2]:
cropRecommendationA1=pd.read_csv("../../../../../preprocessedData/CropRecommentationApproach1.csv")
cropRecommendationA1

      Unnamed: 0  temperature   humidity    rainfall   label
0              0    20.879744  82.002744  202.935536    rice
1              1    21.770462  80.319644  226.655537    rice
2              2    23.004459  82.320763  263.964248    rice
3              3    26.491096  80.158363  242.864034    rice
4              4    20.130175  81.604873  262.717340    rice
...          ...          ...        ...         ...     ...
1195        1195    26.774637  66.413269  177.774507  coffee
1196        1196    27.417112  56.636362  127.924610  coffee
1197        1197    24.131797  67.225123  173.322839  coffee
1198        1198    26.272418  52.127394  127.175293  coffee
1199        1199    23.603016  60.396475  140.937041  coffee

[1200 rows x 5 columns]

In [3]:
cropRecommendationA1=cropRecommendationA1.drop(columns=["Unnamed: 0"])
cropRecommendationA1

      temperature   humidity    rainfall   label
0       20.879744  82.002744  202.935536    rice
1       21.770462  80.319644  226.655537    rice
2       23.004459  82.320763  263.964248    rice
3       26.491096  80.158363  242.864034    rice
4       20.130175  81.604873  262.717340    rice
...           ...        ...         ...     ...
1195    26.774637  66.413269  177.774507  coffee
1196    27.417112  56.636362  127.924610  coffee
1197    24.131797  67.225123  173.322839  coffee
1198    26.272418  52.127394  127.175293  coffee
1199    23.603016  60.396475  140.937041  coffee

[1200 rows x 4 columns]

In [4]:
from sklearn.model_selection import train_test_split
X=cropRecommendationA1.drop(columns=["label"])
y=cropRecommendationA1["label"]

In [5]:
X

      temperature   humidity    rainfall
0       20.879744  82.002744  202.935536
1       21.770462  80.319644  226.655537
2       23.004459  82.320763  263.964248
3       26.491096  80.158363  242.864034
4       20.130175  81.604873  262.717340
...           ...        ...         ...
1195    26.774637  66.413269  177.774507
1196    27.417112  56.636362  127.924610
1197    24.131797  67.225123  173.322839
1198    26.272418  52.127394  127.175293
1199    23.603016  60.396475  140.937041

[1200 rows x 3 columns]

In [6]:
y

0         rice
1         rice
2         rice
3         rice
4         rice
         ...
1195    coffee
1196    coffee
1197    coffee
1198    coffee
1199    coffee
Name: label, Length: 1200, dtype: object

In [7]:
X_Train,X_Test,y_Train,y_Test=train_test_split(X,y,test_size=0.1,random_state=10)

In [8]:
X_Train

      temperature   humidity    rainfall
428     26.398551  81.360289   98.167520
1177    23.106939  67.062305  162.576961
492     27.949725  76.637134  109.092163
1004    23.584193  72.004608  190.424216
995     40.102077  94.351102  149.119999
...           ...        ...         ...
733     22.126594  90.978183  104.541228
1180    24.029525  58.848806  134.680397
1147    27.745770  54.369761  139.861943
527     29.980805  49.486133   91.822716
1149    26.673772  52.242263  156.154390

[1080 rows x 3 columns]

In [9]:
X_Test

      temperature   humidity    rainfall
123     18.833445  58.750820   79.753290
1036    23.890690  83.464091  167.723063
1034    23.668054  70.890007  184.463328
426     29.244064  77.320172   90.667279
726     22.921571  94.896134  105.694154
...           ...        ...         ...
530     27.920633  51.779659  100.258567
948     42.547440  94.944821  214.410385
731     23.126527  94.712033  108.621183
965     32.500375  93.478888   71.737595
612     29.587484  80.919344   68.064173

[120 rows x 3 columns]

In [10]:
y_Train

428     banana
1177    coffee
492     banana
1004      jute
995     papaya
         ...
733      apple
1180    coffee
1147    coffee
527      mango
1149    coffee
Name: label, Length: 1080, dtype: object

In [11]:
y_Test

123      maize
1036      jute
1034      jute
426     banana
726      apple
         ...
530      mango
948     papaya
731      apple
965     papaya
612     grapes
Name: label, Length: 120, dtype: object

In [12]:
from sklearn.linear_model import LogisticRegression
model=LogisticRegression()

In [13]:
model.fit(X_Train,y_Train)

LogisticRegression()

In [14]:
predicted_value = model.predict(X_Test)

In [15]:
predicted_value

array(['banana', 'jute', 'jute', 'banana', 'orange', 'mango', 'banana',
       'rice', 'mango', 'apple', 'jute', 'jute', 'papaya', 'banana',
       'coffee', 'papaya', 'lentil', 'blackgram', 'rice', 'banana',
       'rice', 'mango', 'banana', 'coffee', 'banana', 'papaya', 'coffee',
       'blackgram', 'papaya', 'jute', 'blackgram', 'grapes', 'lentil',
       'grapes', 'apple', 'lentil', 'lentil', 'blackgram', 'apple',
       'coffee', 'blackgram', 'orange', 'rice', 'rice', 'lentil',
       'lentil', 'lentil', 'apple', 'grapes', 'coffee', 'coffee',
       'blackgram', 'papaya', 'blackgram', 'lentil', 'apple', 'banana',
       'apple', 'banana', 'apple', 'jute', 'jute', 'banana', 'apple',
       'mango', 'rice', 'rice', 'lentil', 'mango', 'blackgram', 'lentil',
       'jute', 'grapes', 'rice', 'jute', 'mango', 'jute', 'orange',
       'orange', 'rice', 'jute', 'banana', 'banana', 'rice', 'apple',
       'apple', 'apple', 'blackgram', 'mango', 'mango', 'coffee',
       'banana', 'jute', 'grapes', 'lentil', 'mango', 'banana', 'coffee',
       'jute', 'lentil', 'grapes', 'mango', 'blackgram', 'blackgram',
       'coffee', 'rice', 'papaya', 'papaya', 'apple', 'apple', 'lentil',
       'grapes', 'coffee', 'apple', 'lentil', 'mango', 'coffee', 'orange',
       'grapes', 'grapes'], dtype=object)

In [16]:
y_Test

123      maize
1036      jute
1034      jute
426     banana
726      apple
         ...
530      mango
948     papaya
731      apple
965     papaya
612     grapes
Name: label, Length: 120, dtype: object

In [17]:
from sklearn.metrics import classification_report
from sklearn import metrics
metrics.accuracy_score(y_Test,predicted_value)

0.6583333333333333