In [1]:
import pandas as pd
import numpy as np

In [2]:
cropRecommendationA1=pd.read_csv("../../../../../preprocessedData/CropRecommentationApproach1.csv")
cropRecommendationA1

      Unnamed: 0  temperature   humidity    rainfall   label
0              0    20.879744  82.002744  202.935536    rice
1              1    21.770462  80.319644  226.655537    rice
2              2    23.004459  82.320763  263.964248    rice
3              3    26.491096  80.158363  242.864034    rice
4              4    20.130175  81.604873  262.717340    rice
...          ...          ...        ...         ...     ...
1195        1195    26.774637  66.413269  177.774507  coffee
1196        1196    27.417112  56.636362  127.924610  coffee
1197        1197    24.131797  67.225123  173.322839  coffee
1198        1198    26.272418  52.127394  127.175293  coffee
1199        1199    23.603016  60.396475  140.937041  coffee

[1200 rows x 5 columns]

In [3]:
cropRecommendationA1=cropRecommendationA1.drop(columns=["Unnamed: 0"])
cropRecommendationA1

      temperature   humidity    rainfall   label
0       20.879744  82.002744  202.935536    rice
1       21.770462  80.319644  226.655537    rice
2       23.004459  82.320763  263.964248    rice
3       26.491096  80.158363  242.864034    rice
4       20.130175  81.604873  262.717340    rice
...           ...        ...         ...     ...
1195    26.774637  66.413269  177.774507  coffee
1196    27.417112  56.636362  127.924610  coffee
1197    24.131797  67.225123  173.322839  coffee
1198    26.272418  52.127394  127.175293  coffee
1199    23.603016  60.396475  140.937041  coffee

[1200 rows x 4 columns]

In [4]:
from sklearn.model_selection import train_test_split
X=cropRecommendationA1.drop(columns=["label"])
y=cropRecommendationA1["label"]

In [5]:
X

      temperature   humidity    rainfall
0       20.879744  82.002744  202.935536
1       21.770462  80.319644  226.655537
2       23.004459  82.320763  263.964248
3       26.491096  80.158363  242.864034
4       20.130175  81.604873  262.717340
...           ...        ...         ...
1195    26.774637  66.413269  177.774507
1196    27.417112  56.636362  127.924610
1197    24.131797  67.225123  173.322839
1198    26.272418  52.127394  127.175293
1199    23.603016  60.396475  140.937041

[1200 rows x 3 columns]

In [6]:
y

0         rice
1         rice
2         rice
3         rice
4         rice
         ...
1195    coffee
1196    coffee
1197    coffee
1198    coffee
1199    coffee
Name: label, Length: 1200, dtype: object

In [7]:
X_Train,X_Test,y_Train,y_Test=train_test_split(X,y,test_size=0.1,random_state=2)

In [8]:
X_Train

      temperature   humidity    rainfall
235     31.741054  68.635254   62.306173
1144    26.223674  62.265946  193.746197
748     23.714753  91.533312  121.896167
612     29.587484  80.919344   68.064173
321     18.297836  69.689762   49.391115
...           ...        ...         ...
466     26.126434  81.813650  104.481286
299     32.747739  67.779546   63.377844
493     25.010185  78.762609  108.369051
527     29.980805  49.486133   91.822716
1192    25.627355  57.041511  188.550654

[1080 rows x 3 columns]

In [9]:
X_Test

      temperature   humidity    rainfall
1049    26.389054  83.312403  176.151641
476     25.083474  80.261731   94.329615
61      25.755286  83.518271  245.662680
910     42.134740  91.704454  197.402901
68      23.641248  80.285979  263.110330
...           ...        ...         ...
869     25.354676  91.811832  116.755594
835     20.184323  90.654585  116.813097
137     21.541562  59.640242  109.751538
101     26.100184  71.574769  102.266244
272     28.206673  68.270852   64.328871

[120 rows x 3 columns]

In [10]:
y_Train

235     blackgram
1144       coffee
748         apple
612        grapes
321        lentil
          ...
466        banana
299     blackgram
493        banana
527         mango
1192       coffee
Name: label, Length: 1080, dtype: object

In [11]:
y_Test

1049         jute
476        banana
61           rice
910        papaya
68           rice
          ...
869        orange
835        orange
137         maize
101         maize
272     blackgram
Name: label, Length: 120, dtype: object

In [12]:
from sklearn.linear_model import LogisticRegression
model=LogisticRegression()

In [13]:
model.fit(X_Train,y_Train)

LogisticRegression()

In [14]:
predicted_value = model.predict(X_Test)

In [15]:
predicted_value

array(['jute', 'banana', 'rice', 'coffee', 'rice', 'coffee', 'grapes',
       'jute', 'apple', 'jute', 'grapes', 'blackgram', 'banana', 'lentil',
       'apple', 'blackgram', 'blackgram', 'papaya', 'apple', 'grapes',
       'coffee', 'banana', 'grapes', 'papaya', 'banana', 'jute', 'banana',
       'lentil', 'blackgram', 'rice', 'orange', 'orange', 'coffee',
       'mango', 'blackgram', 'jute', 'banana', 'coffee', 'papaya',
       'mango', 'papaya', 'lentil', 'grapes', 'lentil', 'jute', 'lentil',
       'banana', 'papaya', 'lentil', 'banana', 'lentil', 'apple',
       'papaya', 'grapes', 'blackgram', 'grapes', 'orange', 'papaya',
       'banana', 'jute', 'banana', 'papaya', 'jute', 'blackgram',
       'coffee', 'jute', 'mango', 'apple', 'papaya', 'papaya', 'lentil',
       'mango', 'mango', 'coffee', 'papaya', 'banana', 'rice', 'mango',
       'lentil', 'lentil', 'orange', 'lentil', 'coffee', 'rice', 'rice',
       'mango', 'apple', 'blackgram', 'grapes', 'jute', 'mango', 'lentil',
       'coffee', 'mango', 'rice', 'coffee', 'blackgram', 'banana', 'jute',
       'mango', 'mango', 'orange', 'lentil', 'blackgram', 'grapes',
       'grapes', 'jute', 'rice', 'papaya', 'orange', 'lentil',
       'blackgram', 'blackgram', 'papaya', 'blackgram', 'apple', 'apple',
       'papaya', 'papaya', 'blackgram'], dtype=object)

In [16]:
y_Test

1049         jute
476        banana
61           rice
910        papaya
68           rice
          ...
869        orange
835        orange
137         maize
101         maize
272     blackgram
Name: label, Length: 120, dtype: object

In [17]:
from sklearn.metrics import classification_report
from sklearn import metrics
metrics.accuracy_score(y_Test,predicted_value)

0.6666666666666666

In [19]:
print(classification_report(y_Test,predicted_value))

              precision    recall  f1-score   support

       apple       0.50      0.57      0.53         7
      banana       0.58      0.64      0.61        11
   blackgram       0.86      1.00      0.92        12
      coffee       0.70      1.00      0.82         7
      grapes       0.60      0.75      0.67         8
        jute       0.67      0.80      0.73        10
      lentil       0.64      0.75      0.69        12
       maize       0.00      0.00      0.00         7
       mango       1.00      1.00      1.00        11
      orange       0.33      0.22      0.27         9
      papaya       0.40      0.40      0.40        15
        rice       1.00      0.73      0.84        11

    accuracy                           0.67       120
   macro avg       0.61      0.65      0.62       120
weighted avg       0.63      0.67      0.64       120