In [15]:
import pandas as pd
import numpy as np

In [16]:
fertilizerRecommendation=pd.read_csv("../../../../../preprocessedData/FertilizerPrediction.csv")
fertilizerRecommendation

,Unnamed: 0,Temparature,Humidity,Moisture,Soil Type,Crop Type,Nitrogen,Potassium,Phosphorous,Fertilizer Name
0,0,26,52,38,4,3,37,0,0,6
1,1,29,52,45,2,8,12,0,36,5
2,2,34,65,62,0,1,7,9,30,1
3,3,32,62,34,3,9,22,0,20,4
4,4,28,54,46,1,6,35,0,0,6
...,...,...,...,...,...,...,...,...,...,...
94,94,25,50,32,1,7,24,0,19,4
95,95,30,60,27,3,9,4,17,17,0
96,96,38,72,51,2,10,39,0,0,6
97,97,36,60,43,4,4,15,0,41,5
98,98,29,58,57,0,8,12,0,10,3

In [17]:
fertilizerRecommendation=fertilizerRecommendation.drop(columns=["Unnamed: 0"])
fertilizerRecommendation

,Temparature,Humidity,Moisture,Soil Type,Crop Type,Nitrogen,Potassium,Phosphorous,Fertilizer Name
0,26,52,38,4,3,37,0,0,6
1,29,52,45,2,8,12,0,36,5
2,34,65,62,0,1,7,9,30,1
3,32,62,34,3,9,22,0,20,4
4,28,54,46,1,6,35,0,0,6
...,...,...,...,...,...,...,...,...,...
94,25,50,32,1,7,24,0,19,4
95,30,60,27,3,9,4,17,17,0
96,38,72,51,2,10,39,0,0,6
97,36,60,43,4,4,15,0,41,5
98,29,58,57,0,8,12,0,10,3

In [18]:
from sklearn.model_selection import train_test_split
X=fertilizerRecommendation.drop(columns=["Fertilizer Name"])
y=fertilizerRecommendation["Fertilizer Name"]

In [19]:
X

,Temparature,Humidity,Moisture,Soil Type,Crop Type,Nitrogen,Potassium,Phosphorous
0,26,52,38,4,3,37,0,0
1,29,52,45,2,8,12,0,36
2,34,65,62,0,1,7,9,30
3,32,62,34,3,9,22,0,20
4,28,54,46,1,6,35,0,0
...,...,...,...,...,...,...,...,...
94,25,50,32,1,7,24,0,19
95,30,60,27,3,9,4,17,17
96,38,72,51,2,10,39,0,0
97,36,60,43,4,4,15,0,41
98,29,58,57,0,8,12,0,10

In [20]:
y

0     6
1     5
2     1
3     4
4     6
     ..
94    4
95    0
96    6
97    5
98    3
Name: Fertilizer Name, Length: 99, dtype: int64

In [21]:
X_Train,X_Test,y_Train,y_Test=train_test_split(X,y,test_size=0.4)

In [22]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [23]:
model=LogisticRegression()
model.fit(X_Train,y_Train)

LogisticRegression()

In [24]:
predict_val=model.predict(X_Test)

In [25]:
predict_val

array([3, 5, 1, 4, 2, 3, 1, 6, 6, 1, 5, 0, 3, 6, 6, 0, 6, 6, 6, 6, 2, 2,
       2, 3, 2, 4, 1, 1, 6, 6, 0, 2, 0, 0, 2, 4, 5, 1, 1, 6], dtype=int64)

In [26]:
y_Test

57    3
39    5
33    1
76    4
6     3
51    3
93    1
12    6
92    6
80    1
31    5
95    0
61    3
73    6
52    6
91    0
96    6
81    6
87    6
60    6
11    2
58    2
77    3
66    3
98    3
55    4
67    1
49    1
64    6
43    6
38    2
83    3
63    0
5     2
54    2
84    4
53    5
45    1
75    1
0     6
Name: Fertilizer Name, dtype: int64

In [27]:
accuracy_score(y_Test,predict_val)

0.85

In [28]:
from sklearn.metrics import classification_report
print(classification_report(y_Test,predict_val))

              precision    recall  f1-score   support

           0       0.60      1.00      0.75         3
           1       1.00      1.00      1.00         7
           2       0.43      0.60      0.50         5
           3       1.00      0.50      0.67         8
           4       1.00      1.00      1.00         3
           5       1.00      1.00      1.00         3
           6       1.00      1.00      1.00        11

    accuracy                           0.85        40
   macro avg       0.86      0.87      0.85        40
weighted avg       0.90      0.85      0.85        40