In [5]:
import pandas as pd
import numpy as np

In [7]:
fertilizerRecommendation=pd.read_csv("../../../../../preprocessedData/FertilizerPrediction.csv")
fertilizerRecommendation

,Unnamed: 0,Temparature,Humidity,Moisture,Soil Type,Crop Type,Nitrogen,Potassium,Phosphorous,Fertilizer Name
0,0,26,52,38,4,3,37,0,0,6
1,1,29,52,45,2,8,12,0,36,5
2,2,34,65,62,0,1,7,9,30,1
3,3,32,62,34,3,9,22,0,20,4
4,4,28,54,46,1,6,35,0,0,6
...,...,...,...,...,...,...,...,...,...,...
94,94,25,50,32,1,7,24,0,19,4
95,95,30,60,27,3,9,4,17,17,0
96,96,38,72,51,2,10,39,0,0,6
97,97,36,60,43,4,4,15,0,41,5
98,98,29,58,57,0,8,12,0,10,3

In [9]:
fertilizerRecommendation=fertilizerRecommendation.drop(columns=["Unnamed: 0"])
fertilizerRecommendation

,Temparature,Humidity,Moisture,Soil Type,Crop Type,Nitrogen,Potassium,Phosphorous,Fertilizer Name
0,26,52,38,4,3,37,0,0,6
1,29,52,45,2,8,12,0,36,5
2,34,65,62,0,1,7,9,30,1
3,32,62,34,3,9,22,0,20,4
4,28,54,46,1,6,35,0,0,6
...,...,...,...,...,...,...,...,...,...
94,25,50,32,1,7,24,0,19,4
95,30,60,27,3,9,4,17,17,0
96,38,72,51,2,10,39,0,0,6
97,36,60,43,4,4,15,0,41,5
98,29,58,57,0,8,12,0,10,3

In [11]:
from sklearn.model_selection import train_test_split
X=fertilizerRecommendation.drop(columns=["Fertilizer Name"])
y=fertilizerRecommendation["Fertilizer Name"]

In [13]:
X

,Temparature,Humidity,Moisture,Soil Type,Crop Type,Nitrogen,Potassium,Phosphorous
0,26,52,38,4,3,37,0,0
1,29,52,45,2,8,12,0,36
2,34,65,62,0,1,7,9,30
3,32,62,34,3,9,22,0,20
4,28,54,46,1,6,35,0,0
...,...,...,...,...,...,...,...,...
94,25,50,32,1,7,24,0,19
95,30,60,27,3,9,4,17,17
96,38,72,51,2,10,39,0,0
97,36,60,43,4,4,15,0,41
98,29,58,57,0,8,12,0,10

In [15]:
y

0     6
1     5
2     1
3     4
4     6
     ..
94    4
95    0
96    6
97    5
98    3
Name: Fertilizer Name, Length: 99, dtype: int64

In [17]:
X_Train,X_Test,y_Train,y_Test=train_test_split(X,y,test_size=0.4,random_state=2)

In [19]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

In [21]:
model=DecisionTreeClassifier(criterion="entropy")
model.fit(X_Train,y_Train)
predicted_val=model.predict(X_Test)

In [23]:
predicted_val

array([1, 4, 6, 3, 6, 6, 1, 6, 5, 4, 3, 1, 1, 5, 6, 2, 4, 3, 3, 1, 6, 2,
       3, 5, 6, 2, 4, 4, 6, 4, 5, 5, 6, 6, 1, 3, 3, 5, 1, 5], dtype=int64)

In [24]:
y_Test

93    1
30    4
56    6
24    3
16    6
23    6
2     1
27    6
28    5
13    4
98    3
91    0
88    0
14    5
0     6
21    2
3     4
29    3
61    3
78    0
35    6
11    2
83    3
44    5
96    6
5     2
25    4
76    4
73    6
62    4
65    5
1     5
18    6
48    6
36    1
77    3
6     3
74    5
90    1
10    5
Name: Fertilizer Name, dtype: int64

In [25]:
accuracy_score(predicted_val,y_Test)

0.925

In [26]:
from sklearn.metrics import classification_report
print(classification_report(y_Test,predicted_val))

              precision    recall  f1-score   support

           0       0.00      0.00      0.00         3
           1       0.57      1.00      0.73         4
           2       1.00      1.00      1.00         3
           3       1.00      1.00      1.00         7
           4       1.00      1.00      1.00         6
           5       1.00      1.00      1.00         7
           6       1.00      1.00      1.00        10

    accuracy                           0.93        40
   macro avg       0.80      0.86      0.82        40
weighted avg       0.88      0.93      0.90        40