In [1]:
# Import Libraries
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.impute import KNNImputer
# Models
from sklearn.linear_model import SGDRegressor

In [2]:
# Define DataFrame
cropProduction=pd.read_csv("../../../preprocessedData/CropProduction.csv")

In [3]:
features=cropProduction[["State_Name","District_Name","Season","Crop","Area"]]
target=cropProduction["Production"]
features

       State_Name  District_Name  Season  Crop      Area
0               0            423       1    10     102.0
1               0            423       4     0     176.0
2               0            423       1    10      83.0
3               0            423       1    10     189.2
4               0            423       4     0     213.0
...           ...            ...     ...   ...       ...
34538          32            467       0     6    6317.0
34539          32            467       0    10     264.0
34540          32            467       3     6     325.0
34541          32            467       3    10     306.0
34542          32            467       5    10  279151.0

[34543 rows x 5 columns]

In [4]:
# Standardization
scaler=StandardScaler()
scaler.fit(features)
features=scaler.transform(features)

In [5]:
X_train,X_test,Y_train,Y_test=train_test_split(features,target,test_size=0.001,random_state=2)

In [6]:
# Training
SGD=SGDRegressor(loss="squared_loss",penalty=None)
SGD.fit(X_train,Y_train)

SGDRegressor(penalty=None)

In [7]:
# Testing
SGD.predict(X_test)

array([ 4.19767897e+05,  2.88017610e+04, -2.11885929e+04,  3.38529042e+04,
        4.82465323e+04,  5.63497362e+04,  4.03355344e+04,  2.86235519e+04,
        3.13178512e+04,  3.42695863e+05,  2.59900450e+04,  2.87592900e+04,
        1.32500446e+05, -1.24318475e+04,  8.25546516e+03,  4.23205536e+04,
       -1.02460817e+04, -2.63668862e+03,  4.74438537e+04,  3.66757234e+04,
        3.48073207e+04,  3.35125445e+05,  1.12850174e+06,  5.47258769e+04,
        2.04769470e+04,  1.49806543e+04, -3.05803937e+01, -9.85054019e+03,
        3.24000602e+04,  2.00614152e+04,  8.06631046e+04,  2.04658060e+05,
        6.98371817e+04,  2.98948060e+04,  5.21105993e+04])

In [8]:
Y_test

896      836157.00
23013      1163.40
15808      1092.54
31661      1725.00
8821      22215.00
6400     101380.00
16504     14833.00
33122       254.00
30969       558.00
28022    397083.00
14524     18323.00
27165      7898.00
8580      83737.00
15135      8391.00
5472       1996.00
26391     67134.00
12742       154.00
29775       479.00
11521     37660.00
19321     16500.00
30020      6500.00
29806    271902.00
9672     626563.00
29549     27172.00
4957      44456.00
10071       900.00
194        4000.00
11145      1937.00
20937     24250.00
29694       180.00
6901      28004.00
7653     191087.00
22570     58000.00
17784      5403.00
30678       473.00
Name: Production, dtype: float64

In [9]:
import pickle
pickle.dump(SGD, open("../../../pickledFiles/cropProduction.pkl", "wb"))