In [1]:
# Import Libraries
import numpy as np 
import pandas as pd

In [2]:
# Define DataFrame
cropProduction=pd.read_csv("../../data/CropProduction.csv")
cropRecommentationA1=pd.read_csv("../../data/CropRecommendationApproach1.csv")

In [3]:
# Crop Production Unique
cpUnique=pd.unique(cropRecommentationA1["label"].str.lower())
# Crop Recommendation Unique
crUnique=pd.unique(cropProduction["Crop"].str.lower())
print("Crop Production Unique Crops: ",cpUnique)
print("Crop Recommendation Unique Crops: ",crUnique)

Crop Production Unique Crops:  ['rice' 'maize' 'chickpea' 'kidneybeans' 'pigeonpeas' 'mothbeans'
 'mungbean' 'blackgram' 'lentil' 'pomegranate' 'banana' 'mango' 'grapes'
 'watermelon' 'muskmelon' 'apple' 'orange' 'papaya' 'coconut' 'cotton'
 'jute' 'coffee']
Crop Recommendation Unique Crops:  ['arecanut' 'other kharif pulses' 'rice' 'banana' 'cashewnut' 'coconut '
 'dry ginger' 'sugarcane' 'sweet potato' 'tapioca' 'black pepper'
 'dry chillies' 'other oilseeds' 'turmeric' 'maize' 'moong(green gram)'
 'urad' 'arhar/tur' 'groundnut' 'sunflower' 'bajra' 'castor seed'
 'cotton(lint)' 'horse-gram' 'jowar' 'korra' 'ragi' 'tobacco' 'gram'
 'wheat' 'masoor' 'sesamum' 'linseed' 'safflower' 'onion'
 'other misc. pulses' 'samai' 'small millets' 'coriander' 'potato'
 'other  rabi pulses' 'soyabean' 'beans & mutter(vegetable)' 'bhindi'
 'brinjal' 'citrus fruit' 'cucumber' 'grapes' 'mango' 'orange'
 'other fibres' 'other fresh fruits' 'other vegetables' 'papaya'
 'pome fruit' 'tomato' 'rapeseed &mustard' 'mesta' 'cowpea(lobia)' 'lemon'
 'pome granet' 'sapota' 'cabbage' 'peas  (vegetable)' 'niger seed'
 'bottle gourd' 'sannhamp' 'varagu' 'garlic' 'ginger' 'oilseeds total'
 'pulses total' 'jute' 'peas & beans (pulses)' 'blackgram' 'paddy'
 'pineapple' 'barley' 'khesari' 'guar seed' 'moth'
 'other cereals & millets' 'cond-spcs other' 'turnip' 'carrot' 'redish'
 'arcanut (processed)' 'atcanut (raw)' 'cashewnut processed'
 'cashewnut raw' 'cardamom' 'rubber' 'bitter gourd' 'drum stick'
 'jack fruit' 'snak guard' 'pump kin' 'tea' 'coffee' 'cauliflower'
 'other citrus fruit' 'water melon' 'total foodgrain' 'kapas' 'colocosia'
 'lentil' 'bean' 'jobster' 'perilla' 'rajmash kholar' 'ricebean (nagadal)'
 'ash gourd' 'beet root' 'lab-lab' 'ribed guard' 'yam' 'apple' 'peach'
 'pear' 'plums' 'litchi' 'ber' 'other dry fruit' 'jute & mesta']

In [4]:
# Common Crops
unique=[cpU for cpU in cpUnique if cpU in crUnique]
unique

['rice',
 'maize',
 'blackgram',
 'lentil',
 'banana',
 'mango',
 'grapes',
 'apple',
 'orange',
 'papaya',
 'jute',
 'coffee']

In [5]:
# Drop unnecessary Crops
data=cropProduction[cropProduction["Crop"].str.lower().isin(unique)].reset_index(drop=True)
# Export Preprocessed Data
data.to_csv("../../data/CropProductionMinified.csv")
data

,State_Name,District_Name,Crop_Year,Season,Crop,Area,Production
0,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Rice,102.0,321.00
1,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Banana,176.0,641.00
2,Andaman and Nicobar Islands,NICOBARS,2001,Kharif,Rice,83.0,300.00
3,Andaman and Nicobar Islands,NICOBARS,2002,Kharif,Rice,189.2,510.84
4,Andaman and Nicobar Islands,NICOBARS,2002,Whole Year,Banana,213.0,1278.00
...,...,...,...,...,...,...,...
35199,West Bengal,PURULIA,2014,Autumn,Maize,6317.0,13337.00
35200,West Bengal,PURULIA,2014,Autumn,Rice,264.0,721.00
35201,West Bengal,PURULIA,2014,Summer,Maize,325.0,2039.00
35202,West Bengal,PURULIA,2014,Summer,Rice,306.0,801.00
35203,West Bengal,PURULIA,2014,Winter,Rice,279151.0,597899.00

In [6]:
# Drop Year
data=data.drop(['Crop_Year'],axis=1)

In [7]:
finalData=data[data['Production']>0].reset_index(drop=True)
finalData

,State_Name,District_Name,Season,Crop,Area,Production
0,Andaman and Nicobar Islands,NICOBARS,Kharif,Rice,102.0,321.00
1,Andaman and Nicobar Islands,NICOBARS,Whole Year,Banana,176.0,641.00
2,Andaman and Nicobar Islands,NICOBARS,Kharif,Rice,83.0,300.00
3,Andaman and Nicobar Islands,NICOBARS,Kharif,Rice,189.2,510.84
4,Andaman and Nicobar Islands,NICOBARS,Whole Year,Banana,213.0,1278.00
...,...,...,...,...,...,...
34538,West Bengal,PURULIA,Autumn,Maize,6317.0,13337.00
34539,West Bengal,PURULIA,Autumn,Rice,264.0,721.00
34540,West Bengal,PURULIA,Summer,Maize,325.0,2039.00
34541,West Bengal,PURULIA,Summer,Rice,306.0,801.00
34542,West Bengal,PURULIA,Winter,Rice,279151.0,597899.00

In [8]:
# Set Features as Category
finalData['State_Name']=finalData['State_Name'].astype('category')
finalData['District_Name']=finalData['District_Name'].astype('category')
finalData['Season']=finalData['Season'].astype('category')
finalData['Crop']=finalData['Crop'].astype('category')

In [9]:
# Convert Category to codes
finalData['State_Name']=finalData['State_Name'].cat.codes
finalData['District_Name']=finalData['District_Name'].cat.codes
finalData['Season']=finalData['Season'].cat.codes
finalData['Crop']=finalData['Crop'].cat.codes

In [10]:
# Check for NULL values
finalData.isnull().any()

State_Name       False
District_Name    False
Season           False
Crop             False
Area             False
Production       False
dtype: bool

In [11]:
# Check for na values
finalData.isna().any()

State_Name       False
District_Name    False
Season           False
Crop             False
Area             False
Production       False
dtype: bool

In [12]:
# Display Final Data
finalData

       State_Name  District_Name  Season  Crop      Area  Production
0               0            423       1    10     102.0      321.00
1               0            423       4     0     176.0      641.00
2               0            423       1    10      83.0      300.00
3               0            423       1    10     189.2      510.84
4               0            423       4     0     213.0     1278.00
...           ...            ...     ...   ...       ...         ...
34538          32            467       0     6    6317.0    13337.00
34539          32            467       0    10     264.0      721.00
34540          32            467       3     6     325.0     2039.00
34541          32            467       3    10     306.0      801.00
34542          32            467       5    10  279151.0   597899.00

[34543 rows x 6 columns]

In [13]:
# Export Preprocessed Data
finalData.to_csv("../../preprocessedData/CropProduction.csv")