In [10]:
# Import Libraries
import numpy as np 
import pandas as pd

In [11]:
# Define DataFrame
cropProductionMinified=pd.read_csv("../../../../data/CropProductionMinified.csv")
cropRecommentationA1=pd.read_csv("../../../../data/CropRecommendationApproach1.csv")

In [12]:
# Crop Production Unique
cpUnique=pd.unique(cropProductionMinified["Crop"].str.lower())
# Crop Recommendation Unique
crUnique=pd.unique(cropRecommentationA1["label"].str.lower())
print("Crop Production Unique Crops: ",cpUnique)
print("Crop Recommendation Unique Crops: ",crUnique)

Crop Production Unique Crops:  ['rice' 'banana' 'maize' 'grapes' 'mango' 'orange' 'papaya' 'jute'
 'blackgram' 'coffee' 'lentil' 'apple']
Crop Recommendation Unique Crops:  ['rice' 'maize' 'chickpea' 'kidneybeans' 'pigeonpeas' 'mothbeans'
 'mungbean' 'blackgram' 'lentil' 'pomegranate' 'banana' 'mango' 'grapes'
 'watermelon' 'muskmelon' 'apple' 'orange' 'papaya' 'coconut' 'cotton'
 'jute' 'coffee']

In [13]:
# Drop unnecessary Crops
cropRecommentationA1=cropRecommentationA1[cropRecommentationA1["label"].str.lower().isin(cpUnique)].reset_index(drop=True)

In [14]:
# Drop ph and Sno
cropRecommentationA1=cropRecommentationA1.drop(columns=['Unnamed: 0','ph'])

In [15]:
# Check for NULL values
cropRecommentationA1.isna().any()

temperature    False
humidity       False
rainfall       False
label          False
dtype: bool

In [16]:
# Check for na values
cropRecommentationA1.isnull().any()

temperature    False
humidity       False
rainfall       False
label          False
dtype: bool

In [17]:
# Display Final Data
cropRecommentationA1

      temperature   humidity    rainfall   label
0       20.879744  82.002744  202.935536    rice
1       21.770462  80.319644  226.655537    rice
2       23.004459  82.320763  263.964248    rice
3       26.491096  80.158363  242.864034    rice
4       20.130175  81.604873  262.717340    rice
...           ...        ...         ...     ...
1195    26.774637  66.413269  177.774507  coffee
1196    27.417112  56.636362  127.924610  coffee
1197    24.131797  67.225123  173.322839  coffee
1198    26.272418  52.127394  127.175293  coffee
1199    23.603016  60.396475  140.937041  coffee

[1200 rows x 4 columns]

In [18]:
# Export Preprocessed Data
cropRecommentationA1.to_csv("../../../../preprocessedData/CropRecommentationApproach1.csv")