In [64]:
# Import Libraries
import numpy as np 
import pandas as pd

In [65]:
# Define DataFrame
cropProductionMinified=pd.read_csv("../../../data/CropProductionMinified.csv")
cropRecommentationA2=pd.read_csv("../../../data/CropRecommendationApproach2.csv")

In [66]:
# Crop Production Unique
cpUnique=pd.unique(cropProductionMinified["Crop"].str.lower())
# Crop Recommendation Unique
crUnique=pd.unique(cropRecommentationA2["label"].str.lower())
print("Crop Production Unique Crops: ",cpUnique)
print("Crop Recommendation Unique Crops: ",crUnique)

Crop Production Unique Crops:  ['rice' 'banana' 'maize' 'grapes' 'mango' 'orange' 'papaya' 'jute'
 'blackgram' 'coffee' 'lentil' 'apple']
Crop Recommendation Unique Crops:  ['rice' 'maize' 'chickpea' 'kidneybeans' 'pigeonpeas' 'mothbeans'
 'mungbean' 'blackgram' 'lentil' 'pomegranate' 'banana' 'mango' 'grapes'
 'watermelon' 'muskmelon' 'apple' 'orange' 'papaya' 'coconut' 'cotton'
 'jute' 'coffee']

In [67]:
# Drop unnecessary Crops
cropRecommentationA2=cropRecommentationA2[cropRecommentationA1["label"].str.lower().isin(cpUnique)].reset_index(drop=True)

In [68]:
# Drop ph
cropRecommentationA2=cropRecommentationA2.drop(columns=['ph'])

In [69]:
# Check for NULL values
cropRecommentationA2.isna().any()

N              False
P              False
K              False
temperature    False
humidity       False
rainfall       False
label          False
dtype: bool

In [70]:
# Check for na values
cropRecommentationA2.isnull().any()

N              False
P              False
K              False
temperature    False
humidity       False
rainfall       False
label          False
dtype: bool

In [71]:
# Display Final Data
cropRecommentationA2

        N   P   K  temperature   humidity    rainfall   label
0      90  42  43    20.879744  82.002744  202.935536    rice
1      85  58  41    21.770462  80.319644  226.655537    rice
2      60  55  44    23.004459  82.320763  263.964248    rice
3      74  35  40    26.491096  80.158363  242.864034    rice
4      78  42  42    20.130175  81.604873  262.717340    rice
...   ...  ..  ..          ...        ...         ...     ...
1195  107  34  32    26.774637  66.413269  177.774507  coffee
1196   99  15  27    27.417112  56.636362  127.924610  coffee
1197  118  33  30    24.131797  67.225123  173.322839  coffee
1198  117  32  34    26.272418  52.127394  127.175293  coffee
1199  104  18  30    23.603016  60.396475  140.937041  coffee

[1200 rows x 7 columns]

In [72]:
# Export Preprocessed Data
cropRecommentationA2.to_csv("../../../preprocessedData/CropRecommentationApproach2.csv")